/* Maxtro Connection main.css */
body{
	margin:0px;
	padding:0px;
}
.main{
	width:50%;
	margin:0 auto;
	position:absolute;
	top:25%;
	left:25%;
}
.main img{
	display:block;
	margin:0 auto;
}
/* Form Styling */
/* I am a bit skeptical on how these styling propertise 
will hold up on more exotic browsers */
.main-form{
	width:23.5em;
	margin:0 auto;
	margin-top:0.93em;
	padding:0.45em;
	background-color:#ffffff;
	border:0.18em solid #000000;
}
.main-form input{
	padding:0.6em;
	padding-left:0.4em;
	border:0.18em solid #000000;
}
.main-form input:focus{
	outline:none;
}
.stnd-form-font{
	font-size:1em;
}
.main-form-user{
	width:95%;
	display:block;
	margin:0 auto;
}
.main-form-pass{
	width:63%;
	margin-top:0.5em;
}
.main-form-sub{
	background-color:#ffffff;
	cursor:pointer;
	font-size:1em;
	width:30%;
}
.align{
	display:inline;
}
/* Footer Styling */
.main-footer{
	width:23.5em;
	display:block;
	margin:0 auto;
	margin-top:0.6em;
	text-align:center;
}
.main-footer a{
	color:#000000;
	text-decoration:none;
	font-family:Arial;
	font-weight:bold;
	background-color:#ffffff;
}
